@model List<EmployeeData.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee Ditails";
}
<h3>@ViewData["Title"]</h3>
<hr/>
<form>
    <button asp-controller="Employee" asp-action="Create" class="btn btn-primary mb-3" >Create Employee</button>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>E-Mail</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach(var employee in Model)
                {
                    <tr>
                        <td>@employee.id</td>
                        <td>@employee.fullName</td>
                        <td>@employee.dateOfBirth</td>
                        <td>@employee.email</td>
                        <td>@employee.salary</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.id"
                                class="btn btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.id"
                                class="btn btn-primary">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6"> 
                        <div>
                            No employees available in this moment!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
